.container {
    background: black;
    color: #00ff00;
    min-height: 100vh;
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.input {
    background-color: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 8px;
    width: 260px;
}

.button {
    background-color: black;
    color: #00ff00;
    width: 275px;
    border: 1px solid #00ff00;
    padding: 8px 16px;
    cursor: pointer;
}

.title {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}